.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron.custom{
  height: 240px;
  margin: 0 auto
}

.btn.btn-outline-secondary{
  color: ghostwhite;
  border: 0px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  border-radius: 10px;
}

.card.mainBody{
  margin: auto 1rem;
  width: 97%;
  height: auto;
}